<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o vazio</title>
</head>
<body>
    <section style="background-color:{{cor_fundo}};">
        <img src="../static/img/OIP.jpg">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Embarque na joranada</p>
        <article>
            <h6>Bem-vindo ao vazio(ou não)</h6>
            <p>Já parou para pensar que se você está no vazio ele não está mais vazio? Mas o que seria o vazio?</p>
            <h6>lorem ipsum</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deleniti et totam accusantium neque sunt facilis ex impedit</p>
            <h6>lorem ipsum</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deleniti et totam accusantium neque sunt facilis ex impedit</p>
            <h6>lorem ipsum</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deleniti et totam accusantium neque sunt facilis ex impedit</p>
        </article>
    </section>

</body>
</html>